<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Band</title>
</head>
<body>
<form action="#" th:action="@{/band-update}" th:object="${band}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="label">Label</label>
    <input type="text" th:field="*{label}" id="label" placeholder="Label">
    <br/>
    <label for="genre">Genre</label>
    <input type="text" th:field="*{genre}" id="genre" placeholder="Genre">
    <br/>
    <label for="foundationYear">Foundation Year</label>
    <input type="text" th:field="*{foundationYear}" id="foundationYear" placeholder="Foundation Year">
    <br/>
    <input type="submit" value="Update Band">
</form>
</body>
</html>